NEXT_PUBLIC_SITE_URL=https://botflow.top
NEXT_PUBLIC_CONTACT_EMAIL=joaquinaarvelom@gmail.com
NEXT_PUBLIC_WHATSAPP_NUMBER=34747424451

NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
